/* review learned concepts 
    - lets reset *
    - import fonts *
    - use child combinator ">" *
    - use adjacent sibling combinator "+"
    - use general sibling combinator "~"
    - pseudo selectors - pseudo classes *
    - pseudo selectors - pseudo elements 
    - attribute selectors 
    - positioning *
    - css functions  *
    - custom properties *
*/

@import url("normalize.css");
@font-face {
    font-family: "Norse-Bold";
    src: url("/font/Norse-Bold.otf") format("woff2");
}

* {
    /* border: 1px solid red; */
}

:root {
    --img-width: 40%;
    --form-width: 60%; 
    --form-container-padding: 0 2rem;
    --odin-green: #596D48;
    --odin-input-grey: #E5E7EB;
    
}


body {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background Image */
.background__image {
    position: relative; /* make images relative to image container */
    height: 100vh;
    width: calc(100% - var(--form-width));
}

img {
    max-width: 100%; /* adjust to parent container */
    height: auto; /* resize height to rendered width */
    /* aspect-ratio: auto already defined in user-agent stylesheet  */
}

.background__image-forest {
    height: 100%;
    width: 100%;
}

.background__transparent {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 25%;
    width: 100%;
    top: 15%;
    background-color: rgba(0, 0, 0, .5);
}

.background__image-odin {
    height: 80%;
    width: auto;
}

.background__text-odin {
    font-size: 5.5rem;
    font-family: Norse-Bold;
    color: white;
}

.background__image-caption {
    position: absolute;
    color: white;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%); /* move caption to the center, offset the left 50% */
}

.background__image-caption a {
    color: #fff;
}

/* Form Container */
.form__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--img-width));
}

/* Background Quote */
.form__quote {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 35%;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #F8F8F8;
    padding: var(--form-container-padding);
}

.form__quote span {
    font-style: italic;
}

/* Sign Up Form */

.form__sign-up {
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: var(--form-container-padding);
    padding-bottom: 2rem;
    gap: 10%;
    box-shadow: 0 5px 5px lightgray;
}

.form__sign-up > div {
    display: flex;
    gap: 10%;
    margin-bottom: 1rem;
}

.form__sign-up > div > div {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 30%;
}

label {
    font-size: 1rem;
    font-weight: 500;
}

input {
    border: 1px solid var(--odin-input-grey);
    border-radius: 5px;
    padding: .25rem;
    width: 100%;
}

input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 5px 5px lightgray;
}

/* Form Button */

.form__button-container {
    flex-direction: column;
    margin: 1.5rem 0;
    padding: var(--form-container-padding);
}

.form__button-container p a {
    text-decoration: none;
    color: var(--odin-green);
    font-weight: 700;
}

.submit-button {
    border: none;
    border-radius: 5px;
    background-color: var(--odin-green);
    color: #fff;
    padding: 1rem 3.5rem;
    box-shadow: 5px 5px 5px lightgrey;
}